<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="/css/style.css" media="all" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/js/login.js"></script>
</head>
<body>
    <div>
        <h1>{{message}}</h1>

        <script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
        <!-- This is a very simple parallax effect achieved by simple CSS 3 multiple backgrounds, made by http://twitter.com/msurguy -->

        <div class="container">
            <div class="row vertical-offset-100">
            	<div class="col-md-4 col-md-offset-4">
            		<div class="panel panel-default">
        			  	<div class="panel-heading">
        			    	<h3 class="panel-title">Please sign in</h3>
        			 	</div>
        			  	<div class="panel-body">
        			    	<form accept-charset="UTF-8" role="form" method="POST" action="/login">
                            <fieldset>
        			    	  	<div class="form-group">
        			    		    <input class="form-control" placeholder="E-mail" name="email" type="text">
        			    		</div>
        			    		<div class="form-group">
        			    			<input class="form-control" placeholder="Password" name="password" type="password" value="">
        			    		</div>
        			    		<div class="checkbox">
        			    	    	<label>
        			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
        			    	    	</label>
        			    	    </div>
        			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
        			    	</fieldset>
        			      	</form>
        			    </div>
        			</div>
        		</div>
        	</div>
        </div>

</div>
    </div>
</body>
</html>
