<div class="row vertical-offset-100">
	<div class="col-md-6 col-md-offset-3">
		{{#if successmessage}}
		  	<div class="alert alert-success" role="alert">
		    	{{successmessage}}
		 	</div>
		{{/if}}

		{{#if errormessage}}
		  	<div class="alert alert-danger" role="alert">
		    	{{errormessage}}
		 	</div>
		{{/if}}


		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">Reset Password</h3>
		 	</div>
		  	<div class="panel-body">
				<p>
					Please type your new password twice. We want to make sure you don’t need to reset again.
				</p>
		    	<form accept-charset="UTF-8" role="form" method="POST" action="/reset-password">
	            <fieldset>
		    		<div class="form-group">
					    <label for="new_password">New password</label>
		    			<input class="form-control" placeholder="New password" name="new_password" id="new_password" type="password">
		    		</div>
		    		<div class="form-group">
					    <label for="confirm_new_password">Confirm new password</label>
		    			<input class="form-control" placeholder="Confirm new password" name="confirm_new_password" id="confirm_new_password" type="password">
		    		</div>
	    			<input name="reset_token" type="hidden" value="{{resetToken}}">
		    		<input class="btn btn-success" type="submit" value="Update password">
		    	</fieldset>
		      	</form>
		    </div>
		</div>
	</div>
</div>
