<div class="row vertical-offset-100">
	<div class="col-md-6 col-md-offset-3">
		{{#if errormessage}}
		  	<div class="alert alert-danger" role="alert">
		    	{{errormessage}}
		 	</div>
		{{/if}}

		{{#if successmessage}}
		  	<div class="alert alert-success" role="alert">
		    	{{successmessage}}
		 	</div>
		{{/if}}

		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">Sign up</h3>
			</div>
		  	<div class="panel-body">
		    	<form accept-charset="UTF-8" role="form" method="POST" action="/signup">
                <fieldset>
		    	  	<div class="form-group {{#if errors.email}}has-error{{/if}}">
					    <label class="control-label" for="email">
                            {{#if errors.email}}{{errors.email.message}}{{else}}Email address{{/if}}
                        </label>
		    		    <input class="form-control" placeholder="E-mail" name="email" id="email" type="text" value="{{values.email}}">
		    		</div>
		    		<div class="form-group {{#if errors.password}}has-error{{/if}}">
					    <label class="control-label" for="password">
                            {{#if errors.password}}{{errors.password.message}}{{else}}Password (at least 6 Chars): {{errors.password}}{{/if}}
                        </label>
		    			<input class="form-control" placeholder="Password" name="password" id="password" type="password" value="">
		    		</div>
		    		<div class="form-group">
		    			<p>You agree to our <a href='#'>Terms of Use</a> when clicking on <b>Sign up</b></p>
		    		</div>
		    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Sign up">
		    	</fieldset>
		      	</form>
		    </div>
		</div>
	</div>
</div>
