<div class="col-sm-8">

	<div class="panel panel-default">
	    <div class="panel-heading">
	    	<h2 class="panel-title">Visits over time</h2>
	 	</div>
	  	<div class="panel-body">
            <div class="canvas-holder">
                <div id="myfirstchart"></div>
            </div>

	    </div>
	  	<div class="panel-footer">
            <div class="canvas-holder">
                <div class="row text-center">
                    <div class="col-sm-4">
                        <h3>2</h3>
                        <p class="light">Visits</p>
                    </div>
                    <div class="col-sm-4">
                        <h3>3</h3>
                        <p class="light">Actions</p>
                    </div>
                    <div class="col-sm-4">
                        <h3>3</h3>
                        <p class="light">Minutes</p>
                    </div>
                </div>
            </div>

	    </div>
	</div>

</div>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<script type="text/javascript" charset="utf-8">
    new Morris.Line({
        // ID of the element in which to draw the chart.
        element: 'myfirstchart',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: [
        { day: '2008', value: 20, test: 50 },
        { day: '2009', value: 10, test: 50 },
        { day: '2010', value: 5, test: 50 },
        { day: '2011', value: 5, test: 50 },
        { day: '2012', value: 5, test: 50 },
        { day: '2013', value: 5, test: 50 },
        { day: '2014', value: 5, test: 50 },
        { day: '2015', value: 5, test: 50 },
        { day: '2016', value: 5, test: 50 },
        { day: '2017', value: 5, test: 50 },
        { day: '2018', value: 15, test: 50 },
        { day: '2019', value: 21, test: 50 },
        { day: '2020', value: 45, test: 50 },
        { day: '2021', value: 5, test: 50 },
        { day: '2022', value: 5, test: 50 },
        { day: '2023', value: 5, test: 50 },
        { day: '2024', value: 5, test: 50 },
        { day: '2025', value: 5, test: 50 },
        { day: '2026', value: 5, test: 50 },
        { day: '2027', value: 5, test: 50 },
        ],
        // The name of the data record attribute that contains x-values.
        xkey: 'day',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['value', 'test'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Value', 'test']
    });
</script>
